Startups Like Me


<% startups.each do |startup| %>
<%= startup.name %> (<%= startup.website_url %>)
<%= startup.locations %>

<%= startup.description %>

Rate startups here: http://startupslike.me/rate?access_token=<%= candidate.access_token %>&email_id=<%= email_id %>&startup_id=<%= startup.id %>

<% end %>

You can update your preferences and unsubscribe from this list here: http://startupslike.me/email-frequency?candidate=<%= candidate.id %>&access_token=<%= candidate.access_token %>
