<!doctype html>
<html>
  <body>
    <img src="http://startupslike.me/images/logo.png" alt="StartupsLikeMe" height="32"><br>
    <hr>
    <table>
      <% startups.each do |startup| %>
        <tr>
          <td>
            <a href="http://startupslike.me/rate?access_token=<%= candidate.access_token %>&email_id=<%= email_id %>&startup_id=<%= startup.id %>">
              <img src="<%= startup.image_url %>" alt="<%= startup.name %>" width="32">
            </a>
          </td>
          <td>
            <b><%= startup.name %></b> <%= startup.locations %><br />
            <%= startup.description %>
          </td>
          <td>
            <a href="http://startupslike.me/rate?access_token=<%= candidate.access_token %>&email_id=<%= email_id %>&startup_id=<%= startup.id %>">
              Rate
            </a>
          </td>
        </tr>
      <% end %>
    </table>
    <hr>

    <a href="http://startupslike.me/email-frequency?candidate=<%= candidate.id %>&access_token=<%= candidate.access_token %>">
      Update preferences or unsubscribe
    </a>
  </body>
</html>
